.main-div{
  background:white;
}

.search-div{
  position:relative;
  padding: 10px 30px;
  box-sizing:border-box;
}
.button-add-div{
  position:absolute;
  right:30px;
}

.role-type{
  margin-right:20px;
}

.button-div{
  margin-left:20px;
}

.table-div{
  margin-top:10px;
  padding:5px 20px;
  box-sizing:border-box;
}

.short-input{
  width:200px;
}

.margin-top-5{
  margin-top:5px;
}

.page-div{
  margin-top:5px;
  padding: 5px 20px;
  box-sizing:border-box;
  text-align:right;
}

.btn-copy{
  margin-left:20px;
}